{% extends "partials/base.html" %}

{% block content %}

{% include "partials/banner.html" %}


<div class="container pt-3">
  <h1 class="text-center">Hello, World!</h1>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempor, mauris at ultrices cursus, tellus ligula sollicitudin est, ac faucibus orci nisi quis dui. Proin sagittis congue tempor. Nam sollicitudin tristique dui, sed aliquet lacus pellentesque vitae. Quisque sed turpis vel lacus semper feugiat. In et interdum dolor. Etiam laoreet iaculis tempus. Morbi volutpat dictum maximus. In tempor odio in ullamcorper egestas. Aenean scelerisque sed ante in congue. Maecenas dapibus cursus tellus, ut sagittis velit congue eu. Cras sagittis tortor eget libero placerat pulvinar. Integer at justo convallis, consectetur nibh in, mollis erat. Sed mollis eleifend scelerisque. Vivamus lobortis viverra diam, sit amet sodales purus ultricies id. Donec eleifend eros vitae purus posuere ornare. 
  </p>
</div>

{% endblock %}
